NodeRED/ESP32_DTH11_TEMP_HUMIDITY_MQTT/flows.json
[{"id":"5cbc7739.ace778","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1ee14b0.6a65a","type":"mqtt out","z":"5cbc7739.ace778","name":"","topic":"esp32/output","qos":"","retain":"","broker":"27e4ff90.129fd","x":500,"y":380,"wires":[]},{"id":"51f2d966.fd94f","type":"mqtt in","z":"5cbc7739.ace778","name":"","topic":"esp32/temperature","qos":"2","broker":"27e4ff90.129fd","x":374,"y":287,"wires":[["af249e0a.597418","e877a1b7.a279c8"]]},{"id":"4ef04ac6.b220bc","type":"ui_switch","z":"5cbc7739.ace778","name":"","label":"Output","group":"6bc06025.e86db8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":359,"y":380,"wires":[["f1ee14b0.6a65a"]]},{"id":"af249e0a.597418","type":"debug","z":"5cbc7739.ace778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":571,"y":254,"wires":[]},{"id":"585c42c.76c7bbc","type":"mqtt in","z":"5cbc7739.ace778","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"27e4ff90.129fd","x":363,"y":171,"wires":[["b0f35c34.ccfd4","60d0a2df.dc23ec"]]},{"id":"b0f35c34.ccfd4","type":"debug","z":"5cbc7739.ace778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":138,"wires":[]},{"id":"e877a1b7.a279c8","type":"ui_chart","z":"5cbc7739.ace778","name":"","group":"6bc06025.e86db8","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":571,"y":314,"wires":[[]]},{"id":"60d0a2df.dc23ec","type":"ui_gauge","z":"5cbc7739.ace778","name":"","group":"6bc06025.e86db8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","x":550,"y":198,"wires":[]},{"id":"27e4ff90.129fd","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6bc06025.e86db8","type":"ui_group","z":"","name":"Main","tab":"119031a9.178f16","disp":true,"width":"6","collapse":false},{"id":"119031a9.178f16","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"}]